
*.exe
*.o
codeforces/146 B. Lucky Mask
codeforces/462 B. Appleman and Card Game
codeforces/546 B. Soldier and Badges
codeforces/609 B. The Best Gift
codeforces/451 B. Sort the Array
codeforces/478 B. Random Teams
codeforces/717 C. Potions Homework
codeforces/1217 A. Creating a Character
codeforces/1450 A. Avoid Trygub
codeforces/490 A. Team Olympiad
codeforces/490 B. Queue
codeforces/519 C. A and B and Team Training
codeforces/681 B. Economy Game
codeforces/740 A. Alyona and copybooks
codeforces/962 A. Equator
codeforces/1093 C. Mishka and the Last Exam
codeforces/B. Find The Bone
