
*.exe
*.o
codeforces/146 B. Lucky Mask
codeforces/462 B. Appleman and Card Game
codeforces/546 B. Soldier and Badges
codeforces/609 B. The Best Gift
codeforces/451 B. Sort the Array
codeforces/478 B. Random Teams
codeforces/717 C. Potions Homework
codeforces/1217 A. Creating a Character
codeforces/1450 A. Avoid Trygub
codeforces/490 A. Team Olympiad
codeforces/490 B. Queue
codeforces/519 C. A and B and Team Training
codeforces/681 B. Economy Game
codeforces/740 A. Alyona and copybooks
codeforces/962 A. Equator
codeforces/1093 C. Mishka and the Last Exam
codeforces/B. Find The Bone
codeforces/1070 D. Garbage Disposal
codeforces/1110 B. Tape
codeforces/1397 A. Juggling Letters
codeforces/1365 B. Trouble Sort
codeforces/1414 G. Years
codeforces/1428 C. ABBB
codeforces/1443 C. The Delivery Dilemma
codeforces/1999 C. Boats Competition
codeforces/401 C. Team
toph/A
toph/B
toph/C
toph/Kingdom of Crisis Continues
codeforces/1443 B. Saving the City
codeforces/450 B. Jzzhu and Sequences
codeforces/466 A. Cheap Travel
codeforces/489 B. BerSU Ball
codeforces/567 B. Berland National Library
lightoj/warm up/1022. Circle in Square
codeforces/492 C. Vanya and Exams
codeforces/148 A. Insomnia cure
